*{
    margin: 0;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    background-color: rgb(37, 34, 34);
    text-align: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 10px;
}

#MiniMenu{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section{
    display: flex;
    flex-direction: column;
    text-align: justify;
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    margin: 20px 80px;
}

#titulo{
    text-align: center;
    padding-bottom: 10px;
}